/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
    -webkit-tap-highlight-color: transparent;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'robotoligth';
    font-size: 15px;
    line-height: 1.5;
    color: black;
    background: white;
}

.container__head {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

.header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 130px;
    background-color: white;
    z-index: 2;
}

.header__body {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.header__logo {
    width: 300px;
    position: relative;
    z-index: 3;
    padding: 5px;
}

.logo {
    max-width: 100%;
    display: block;
}

.logo__mb {
    display: none;
}

.header__burger {
    display: none;
}

.header__menu {
    margin: auto;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}

.header__list li {
    list-style: none;
    margin: 0 0 0 10px;
}

.header__link {
    color: black;
    font-size: 18px;
    text-decoration: none;
}

.arrowdown {
    width: 12px;
    height: 12px;
    border-top: 3px solid #000000;
    border-right: 3px solid #000000;
    margin: 0 3px 8px 8px;
    -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
            transform: rotate(135deg);
}

/*--------Second charapter----------*/

.header__list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 6px;
    font-family: 'Montserrat', sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    z-index: 2;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.header__list>li {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.header__list>li+li {
    margin: 0 10px;
}

.header__list>li>a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2px 6px;
    position: relative;
    color: black;
    font-weight: 400;
    letter-spacing: 0.2px;
    font-size: 22px;
    text-decoration: none;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.header__list>li>a:hover {
    text-decoration: none;
    -webkit-box-shadow: 0px 1px 3px 0 black;
            box-shadow: 0px 1px 3px 0 black;
    cursor: pointer;
}

.act {
    -webkit-box-shadow: 0px 1px 3px 0 black;
            box-shadow: 0px 1px 3px 0 black;
}

.header__list>li>a:hover::after {
    width: 100%;
}

.header__list>li.act a:after {
    width: 100%;
}

.header__list li {
    margin: 0;
    white-space: nowrap;
}

.header__list li.children {
    position: relative;
    margin: 0 10px;
}


.header__list li.children:hover>ul {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
}

.header__list ul {
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: #337AB7;
    position: absolute;
    z-index: 20;
    min-width: -webkit-fill-available;
    top: 100%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transform: translateY(5px);
        -ms-transform: translateY(5px);
            transform: translateY(5px);
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.header__list ul li {
    display: block;
    padding: 0;
    line-height: 1.1;
}


.header__list ul li a {
    display: block;
    color: black;
    background-color: white;
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.header__list ul li a:hover {
    color: white;
    background: #4d4d4d;
    text-decoration: none;
}



/*Nav*/

.navn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 18px;
    font-family: 'robotoregular';
    z-index: 2;
}

.nav__link {
    vertical-align: top;
    width: 170px;
    text-align: center;
    position: relative;
    color: white;
    text-decoration: none;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    -webkit-box-shadow: 0 1px 5px 0 black;
    box-shadow: 0 1px 5px 0 black;
}

.one {
    background: #fda300;
    margin: 5px 0 0;
}

.two {
    background: DodgerBlue;
    margin: 10px 0 0;
}

.nav__link:hover {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
    color: black;
}

/*Footer*/
.section__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.footer {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 0px;
    flex: 1 1 0;
    position: relative;
    color: #ffffff;
    background: #303030;
    margin: -5px 0 0 0;
    font-size: 24px;
}

.map {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 25px 0 5px;
    background: transparent;
    text-align: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.map__cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 48%;
    font-family: 'robotoligth';
}

.map__cont p {
    margin: 0 0 5px;
}

.ya_map {
    width: 35%;
}

#name {
    text-align: center;
    line-height: 0px;
    margin: 20px;
}

#number {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

#app {
    margin: auto;
}

#app img {
    width: 125px;
}

#map__text {
    font-size: 16px;
    text-align: center;
    font-weight: 400;
}

/*--------------------------------Media----------------------------------*/
@media(max-width:1180px) {
    .header:before {
        height: 165px;
    }

    .map {
        line-height: 90%;
    }
}

@media(max-width:768px) {
    body.lock {
        overflow: hidden;
    }

    .container__head {
        padding: 0px 10px 0;
    }

    .header:before {
        height: 75px;
        /* background-image: url(img/qqqmb.jpg); */
    }

    .header__body {
        height: 60px;
    }

    .header__logo {
        width: 230px;
    }

    .header__burger {
        display: block;
        position: relative;
        width: 38px;
        height: 30px;
        z-index: 3;
        margin-right: 10px;
        background-color: transparent !important;
    }

    .header__burger span {
        position: absolute;
        background-color: black;
        left: 0;
        width: 100%;
        height: 6px;
        top: 12px;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
    }

    .header__burger:before,
    .header__burger:after {
        content: '';
        background-color: black;
        position: absolute;
        width: 100%;
        height: 6px;
        left: 0;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
    }

    .header__burger:before {
        top: 0;
    }

    .header__burger:after {
        bottom: 0;
    }

    .header__burger.active:before {
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg);
        top: 12px;
    }

    .header__burger.active:after {
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
        bottom: 12px;
    }

    .header__burger.active span {
        -webkit-transform: scale(0);
            -ms-transform: scale(0);
                transform: scale(0);
    }

    .header__menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0 35 66 / 95%);
        padding: 75px 5px 0 5px;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        margin: 0;
    }

    .header__menu.active {
        top: 0;
    }

    .header__link {
        font-size: 28px;
    }

    .arrowdown {
        border-top: 3px solid #ffffff;
        border-right: 3px solid #ffffff;
    }

    .navn {
        font-size: 16px
    }

    .nav__link {
        width: 150px;
    }

    .header__list li.children {
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
    }

    .header__list li {
        margin-bottom: 12px;
    }

    .header__list ul {
        min-width: -webkit-fill-available;
    }

    .header__list ul li {
        margin-bottom: 0;
    }

    .header__list ul li a:hover {
        color: white;
        background: #cddc39;
        text-decoration: none;
    }

    .header__list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin-top: 20px;
    }

    .header__list ul li a {
        font-size: 22px;
    }

    .header__list>li>a {
        color: white;
        font-size: 28px;
    }

    .header__list>li>a:hover {
        background: #1279d3;
    }

    .header__list>li+li {
        margin: 10px 10px;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
    }

    .act {
        background-color: #124f85;
    }

    .map {
        line-height: 60%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .map__cont {
        width: 90%;
        margin: 0 0 5px;
    }

    .ya_map {
        width: 90%;
    }

    #map__text {
        font-size: 14px;
    }

    .bot {
        font-size: 16px !important;
        margin: 5px 0 0 0;
    }
}

@media(max-width:480px) {
    .header__logo {
        width: 60px;
    }

    .logo {
        display: none
    }

    .logo__mb {
        display: block;
        width: 100%;
    }

    .navn {
        font-size: 14px;
    }

    .nav__link {
        width: 130px;
    }

    .dot {
        width: 10px;
        height: 10px;
    }

    #map__text {
        font-size: 14px;
    }

    #number {
        font-size: 16px;
    }

    #app img {
        width: 100px;
    }
}

/*-----------------------*/
@font-face {
    font-family: robotothin;
    src: url("../fonts/Roboto-Thin.ttf") format("truetype");
}

@font-face {
    font-family: robotoligth;
    src: url("../fonts/Roboto-Light.ttf") format("truetype");
}

@font-face {
    font-family: robotoregular;
    src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: robotobold;
    src: url("../fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
    font-family: robotoblack;
    src: url("../fonts/Roboto-Black.ttf") format("truetype");
}

/*
@font-face {
font-family: rb1; 
src: url("../fonts/Rubik-Light.ttf") format("truetype"); 
}
@font-face {
font-family: rb2; 
src: url("../fonts/Rubik-Regular.ttf") format("truetype"); 
}
@font-face {
font-family: rb3; 
src: url("../fonts/Rubik-Medium.ttf") format("truetype"); 
}
@font-face {
font-family: rb4; 
src: url("../fonts/Rubik-SemiBold.ttf") format("truetype"); 
}
@font-face {
font-family: rb5; 
src: url("../fonts/Rubik-Bold.ttf") format("truetype"); 
}
@font-face {
font-family: rb6; 
src: url("../fonts/Rubik-ExtraBold.ttf") format("truetype"); 
}
@font-face {
font-family: rb7; 
src: url("../fonts/Rubik-Black.ttf") format("truetype"); 
}
*/